html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(37, 37, 37);
  
}

/* menu */
header {
  position: relative;
  height: 45px;
  background-color: rgb(37, 37, 37);
  z-index: 1000;
}

.menu {
  position: absolute;
  top: 55px;
  left: 10px;
}

.menu.fix {
  position: fixed;
  top: 10px;
  left: 10px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.menu_bg {
  position: relative;
  width: 50px;
  height: 45px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  transition: all 0.6s 0.3s;
  display: flex;
  flex-direction: column;
}

.menu_bg::before {
  content: "";

  position: absolute;
  inset: 2px;

  border: 1.5px solid rgb(37, 37, 37);
  border-radius: 8px;

  pointer-events: none;
}

.menu_bg.pressed {
  height: 312px;
  width: 281px;
  transition: all 0.6s;
}

.menu_item_wrapper {
  margin-top: 47px;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  gap: 3px;

  pointer-events: none;
}
.menu_item {
  position: relative;
  opacity: 0;
  color: rgb(37, 37, 37);
  font-size: 2rem;
  z-index: 1000;  
  pointer-events: auto;
  transition: opacity 0.3s 0s;
}


.menu_item a {
  position: relative;
  color: inherit;
  text-decoration: none;
  z-index: 1000;
}

.menu_item.show {
  opacity: 1;
  transition: opacity 0.3s 0.7s;
}

.menu_button {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 45px;
  border-radius: 10px;
}

.menu_button span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: rgba(37,37,37);
  left: 10px;
}

.menu_button span:nth-of-type(1) {
  top: 13.5px;
}
.menu_button span:nth-of-type(2) {
  top: 21px;
  opacity: 1;
  transition: opacity 0s 0.3s;
}
.menu_button span:nth-of-type(3) {
  top: 28.5px;
}

@keyframes menu_3toX_1 {
  0% {
    top: 13.5px;
    rotate: 0deg;
  }
  50% {
    top: 21px;
    rotate: 0deg;
  }
  100% {
    top: 21px;
    rotate: 45deg;
  }
}

@keyframes menu_Xto3_1 {
  0% {
    top: 21px;
    rotate: 45deg;
  }
  50% {
    top: 21px;
    rotate: 0deg;
  }
  100% {
    top: 13.5px;
    rotate: 0deg;
  }
}

@keyframes menu_3toX_3 {
  0% {
    top: 28.5px;
    rotate: 0deg;
  }
  50% {
    top: 21px;
    rotate: 0deg;
  }
  100% {
    top: 21px;
    rotate: -45deg;
  }
}

@keyframes menu_Xto3_3 {
  0% {
    top: 21px;
    rotate: -45deg;
  }
  50% {
    top: 21px;
    rotate: 0deg;
  }
  100% {
    top: 28.5px;
    rotate: 0deg;
  }
}

.menu_button.pressed span:nth-of-type(1) {
  animation: menu_3toX_1 0.6s forwards;
}
.menu_button.closed span:nth-of-type(1) {
  animation: menu_Xto3_1 0.6s forwards;
}

.menu_button.pressed span:nth-of-type(2) {
  opacity: 0;
}
.menu_button.closed span:nth-of-type(2) {
  opacity: 1;
}

.menu_button.pressed span:nth-of-type(3) {
  animation: menu_3toX_3 0.6s forwards;
}
.menu_button.closed span:nth-of-type(3) {
  animation: menu_Xto3_3 0.6s forwards;
}

.menu_overlay {
  position: fixed;
  inset: 0;
  
  pointer-events: none;
  
  background: rgba(0,0,0,0.4);
  opacity: 0;
  
  transition: 0.6s;
}

.menu_overlay.show {
  opacity: 1; 
  pointer-events: auto;
}



/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 25px;
  padding-top: 20px;
  box-sizing: border-box;

  background-color: rgb(238, 238, 238);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

.logo_left {
  height: 25px;
  width: auto;

  display: flex;
  align-items: center;
}

.logo_right {
  height: 25px;
  width: auto;

  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 25px;
  width: auto;
}

.button_wrapper_icon {
  height: 25px;
  width: auto;
}

.footer_margin {
  height: 70px;
}

/* background */
.bg_chapel {
  position: fixed;
  inset: 0;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/chapel.avif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  z-index: -1;
}

.bg_wrapper {
  position: relative;
  inset: 0;
  width:auto;
  height: auto;
  z-index: -1;
}

/* page */
.page {
  position: relative;
  width: 100%;
  height: auto;
}

.margin_box_top {
  height: 45px;
  background-color: rgb(37, 37, 37);
}

.window {
  padding: 7vw;
  padding-bottom: 14vw;
  color: rgb(238, 238, 238);
  background-color:rgba(37, 37, 37, 0.45);
  font-family: "Roboto",sans-serif;
  font-size: 11rem;
  font-weight: 100;
  text-align: right;
  line-height: 1;

  pointer-events: none;
}

/* widthが688px以下ならwindowのfontを調整 */
@media (max-width: 688px) {
  .window {
    font-size: 6.5rem;
    padding-top: 10vw;
  }
}


.black_margin {
  position: relative;
  background-color: rgb(37, 37, 37);
  padding: 70px 35px;
  color: rgb(238, 238, 238);

  text-align: center;
  font-size: 3rem;
  overflow: hidden;
}

.black_margin_decoration{
  position: absolute;
  opacity: 0.05;
  pointer-events: none;
  user-select: none;
  justify-content: center;
}

.content {
  max-width: 744px;
  margin: 10px auto;
  box-sizing: border-box;

  color: rgb(190,  190, 190);

  font-size: 1rem;
  text-align: center;
  font-family: "noto sans jp", sans-serif;

  line-height: 2;
}


/* social media */
.parallax_window {
  position: relative;
  overflow: hidden;
  min-height: 10vh;
  background-color: rgba(37, 37, 37, 0.5);
}

.parallax_bg {
  position: absolute;
  top: -50%;
  left: 0;
  width: 110%;
  height: 170%;

  background-size: cover;
  background-position: center center;
  will-change: transform;
  z-index: -1;
}

.parallax_inner {
  position: relative;
}

.social_media {
  color: rgb(238, 238, 238);
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
}

.social_media_wrapper {
  padding: 50px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 30px;
}

.social_media_item {
  position: relative;
}

.social_media_button {
  position: relative;
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
}

.social_media_button a {
  display: block;
}

.social_media_button img{
  width: clamp(300px, 40vw, 400px);
  height: auto;
  display: block;
}

.social_media_name {
  color: rgb(238, 238, 238);
  text-align: left;
  font-size: 2rem;
  margin-bottom: 3px;
}


.social_media_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.2);
  pointer-events: none;
}

#schedule_list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.schedule {
  width: 200px;
}

.month {
  font-size: 2rem;
}

.event {
  font-size: 1rem;
}

#access_parallax {
  background-image: url("assets/images/bushitsu.avif");
}

#follow_parallax {
  background-image: url("assets/images/kassouro.avif");
}

.access {
  color: rgb(238, 238, 238);
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.access_wrapper {
  width: 70vw;
  max-width: 625px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.map_wrapper {
  position: relative;
  width: 70vw;
  max-width: 645px;
  height: 350px;
}

.map_wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.access_overlay {
  position: absolute;
  inset: 0;
  background: rgba(37, 37, 37, 0.2);
  pointer-events: none;
}

.access_data_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "roboto", sans-serif;
  gap: 30px;
}

.address {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: "noto sans jp", sans-serif;
  line-height: 1.1;
}
.transportation {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-family: "noto sans jp", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.access_title {
  font-size: 2rem;
}

.access_text {
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 30px;
}



.contact_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "roboto", sans-serif;
}

.contact_row {
  margin: 0 10vw;
  display: grid;
  grid-template-columns: 170px 20px 1fr;
  align-items: center;
}

.contact_row a{
  text-align: right;
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
}

.label {
  text-align: left;
  font-size: 2rem;
}

.separator {
  text-align: center;
  font-size: 2rem;
}
