html {
  overscroll-behavior: none;
  font-size: 16px;
}

body {
  margin: 0;
}

 /* 背景① 固定で最初に見える*/
 .bg_chapel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/images/chapel.avif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  z-index: -1;
 }
 
 /* スクロールする中身 */
.content {
  position: relative;
  overscroll-behavior: none;
}

/* 1番上にある余白 */
.top {
  height: 45px;
  background-color: rgb(37, 37, 37);
}

/* 透明（＝背景①が見える）+ 文字 */
.caption {
  padding-top: 10vh;
  padding-right: 10vh;
  padding-left: 10vh;
  color: rgb(218, 218, 218);
  font-size: 10rem;
  text-align: right;

  line-height: 1.1;
  
  height: 120vh;
}

/* 中間 black box */
.section3 {
  height: 50vh;
  background-color: rgb(37, 37, 37);
}

 /* 背景② */
 .bg_kassouro {
  height: 100vh;
  background: url(assets/images/kassouro.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 /* 背景①、②の上に重ねる半透明の黒いレイヤー */
.wrapper {
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
}