html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.bg {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url("assets/images/chapel.avif");
  background-size: cover;
  background-position: top;
}

.bg_wrapper {
  position: relative;
  inset: 0;
  width:auto;
  height: auto;
  z-index: -1;
}
